# Postgres Environment Variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password 
POSTGRES_DB=qsdatabase
POSTGIS_VERSION=3.5.3

# Backend Environment Variables
NEON_URL=dummy-neon-url
FRONTEND_HOST=http://localhost:3000
DATABASE_URL_SQLALCHEMY=postgresql+psycopg2://postgres:password@db:5432/qsdatabase # database url for SQLAlchemy; use postgresql+asyncpg for async calls, otherwise postgresql+psycopg2
DATABASE_URL_SQLALCHEMY_TEST=postgresql+psycopg2://postgres:password@db_test:5432/qsdatabase
LOCALHOST_DATABASE_URL_SQLALCHEMY=postgresql+psycopg2://postgres:password@localhost:5432/qsdatabase
ENVIRONMENT=local # For custom application logic


# Frontend Environment Variables
NODE_ENV=development  # For libraries and general Node.js practices
NEXT_PUBLIC_API_URL=http://localhost:8000/api # The base URL for API calls to the backend
NEXT_PUBLIC_CDN_URL=http://localhost:3000/data # To fetch static assets, e.g. pregenerated geojsons.
NEXT_PUBLIC_MAPBOX_TOKEN=dummy-mapbox-token # Allows access to Mapbox APIs; replace with your actual access token

# Monitoring Variables
SENTRY_DSN=dummy-sentry-dsn # Sentry DSN for error tracking; replace with your actual DSN
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com # PostHog host for analytics
NEXT_PUBLIC_POSTHOG_KEY=dummy-posthog-key # PostHog project key for analytics
SENTRY_AUTH_TOKEN=dummy-sentry-auth-token # Sentry authentication token for error tracking

