# Next
.next
out

# Python
__pycache__/
pytest_cache/
.pytest_cache/
mypy_cache/
*.py[cod]
bin/
build/
lib/
.coverage
coverage.xml

# Virtual Environment
venv
.venv

# Node
node_modules

# Mac
.DS_Store
/.next/

# Sensitive config
.env.development.local
.env
.env.local
.env.enc

# IDEs
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
# Sentry Config File
.env.sentry-build-plugin
